# Use our custom-configured c++ toolchain.

build --crosstool_top=//toolchain:clang_suite

# Use --cpu as a differentiator.

build --cpu=i686

# Use the default Bazel C++ toolchain to build the tools used during the
# build.

build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
